@import url(reset.css);
/*------------------------
 Global
 ------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 100%; }

img {
  max-width: 100%;
  display: block; }

p {
  line-height: 24px; }

p,
li {
  font-size: 16px; }

a {
  color: inherit;
  text-decoration: none; }

.max1200 {
  max-width: 1200px;
  margin: 0 auto; }

.max1540 {
  max-width: 1540px;
  margin: 0 auto; }

.max800 {
  max-width: 800px;
  margin: 0 auto; }

.row_padding64 {
  padding: 64px 0; }

.titleName {
  color: #650300;
  font-size: 48px;
  text-align: center;
  margin-bottom: 45px; }

.titleColor {
  color: white; }

/*------------------------
 Header
 ------------------------*/
header {
  height: 100px;
  color: white;
  background: #AA0601;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 90px; }
  header .navItem {
    display: inline-block;
    margin-left: 20px; }

.headerBanner {
  height: calc(100% - 100px);
  background: url(../images/68.png);
  background-repeat: no-repeat; }

/*------------------------
 Service
 ------------------------*/
.service {
  background: #AA06010D; }

.serviceList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.serviceListItem {
  -webkit-flex-basis: 18%;
  -ms-flex-preferred-size: 18%;
  flex-basis: 18%; }

.serviceImg {
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px; }

.serviceListItemTitle {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #650300; }

.serviceListItemText {
  text-align-last: left; }

/*------------------------
 Classic
 ------------------------*/
.classicName {
  color: #AA0601;
  font-size: 48px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-flex-basis: 400px;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px; }

.classicFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.classicFlex:nth-child(3) {
  margin: 32px 0; }

.classicName:before {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin: 0 20px 0;
  display: inline-block; }

.classicNameIcon_1:before {
  content: url(../images/iconfinder_44_2529968.svg); }

.classicNameIcon_2:before {
  content: url(../images/Layer_1.svg); }

.classicNameIcon_3:before {
  content: url(../images/Page-1.svg); }

/*------------------------
 Design
 ------------------------*/
.design {
  background: url(../images/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.png);
  background-repeat: no-repeat;
  padding-bottom: 480px; }

.designFlex_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.designFlex_row_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-basis: 62.2%;
  -ms-flex-preferred-size: 62.2%;
  flex-basis: 62.2%;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.flexMore {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-basis: 85%;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.moreBtnOut {
  padding-right: 100px;
  position: relative;
  overflow: hidden; }

.moreBtn {
  position: absolute;
  width: 100%;
  height: 105px;
  top: 0;
  background: white;
  margin: 30px;
  font-size: 72px;
  color: #AA0601;
  padding: 10px 20px;
  font-weight: bold; }

.moreBtn:after {
  content: url(../images/ic_arrow_forward_24px.svg);
  margin-left: 25px; }

.designBuyFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px; }

.designBuyFlex_col_1 {
  -webkit-flex-basis: 33%;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  font-size: 72px;
  color: #AA0601;
  font-weight: bold;
  padding: 260px 0;
  text-align: center; }

.designBuyFlex_col_1:first-child {
  background: url(../images/14.png);
  margin-right: 15px; }

.designBuyFlex_col_1:last-child {
  background: url(../images/39.png); }

/*------------------------
 Customer
 ------------------------*/
.customer {
  margin-top: -360px; }

.customerList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.customerListCard {
  -webkit-flex-basis: 23%;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  border: 1px solid #DEE2E6; }

.cardInfo {
  padding: 20px; }

.cardText {
  margin: 15px 0; }

.cardUpdateTime {
  color: #707070; }

/*------------------------
 Contact
 ------------------------*/
.contact {
  background: #faf2f3; }
  .contact label {
    margin: 15px 0 10px 0;
    display: inline-block; }

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #000;
  background: #faf2f3; }

.contact input[type=submit],
.contact input[type=checkbox] {
  width: auto; }

.contact input[type=submit] {
  width: 180px;
  background: #AA0601;
  border: none;
  color: white;
  margin: 0 auto;
  display: block; }

.formNotice {
  padding-bottom: 10px; }

.agreeBox {
  display: block;
  margin: 15px 0 40px 0; }

.agreeBtn {
  display: none; }

.agreeBtnText:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  transform: translate(0, 4px);
  border: 2px solid #000; }

.agreeBtn:checked + .agreeBtnText:before {
  background: url(../images/click.png);
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-position: center center; }

/*------------------------
 Footer
 ------------------------*/
footer {
  color: white;
  background: #AA0601; }

.footerFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footerNav {
  padding-bottom: 15px; }

.footerNavItem {
  display: inline-block;
  margin-right: 45px; }

.footerNavItem:last-child {
  margin-right: 0; }

.socialBtn {
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  transform: translate(0, -15px); }

.footeHr {
  opacity: 0.7; }

.tel, .mail {
  display: block;
  font-size: 36px;
  margin: 20px 0; }

.tel:before,
.mail:before {
  -webkit-transform: translate(0, 7px);
  -ms-transform: translate(0, 7px);
  transform: translate(0, 7px);
  display: inline-block;
  width: 60px; }

.tel:before {
  content: url(../images/ic_phone_48px.svg); }

.mail:before {
  content: url(../images/ic_mail_outline_24px.svg); }

.copyright {
  -webkit-transform: translate(0, -17px);
  -ms-transform: translate(0, -17px);
  transform: translate(0, -17px); }

.copyright:before {
  -webkit-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  transform: translate(0, 20px);
  display: inline-block;
  margin-right: 30px;
  content: url(../images/logo-new.png); }

.footerFlexCopy {
  margin-top: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
