/*------------------------
 Global
 ------------------------*/
.titleName
    font-size: 24px

/*------------------------
 header
 ------------------------*/

header
    height: 50px
    padding: 20px
    display: flex
    position: fixed
.bannerTitle
    font-size: 32px
.row_padding64
    padding: 24px 12px
.headerNav
    position: absolute
    margin-top: 51px
    top: 0
    width: 100%
    left: -100%
    .navItem
        margin-left: 0
        border-bottom: 1px solid white
        text-align: center
        display: block
        background: #AA0601
        a
            padding: 10px 0
            display: block
.headerNavOpen
    left: 0
.weblogo,
.burger
    display: inline-block
.weblogo
    position: absolute
    left: 50%
    width: 48px
    transform: translate(-50%,0)
.burger
    width: 24px
.headerBanner
    height: 395px
    margin-top: 50px

.burger
    position: relative
    hr
        position: absolute
        width: 100%
        border: 1.5px solid white
.burLine_1
    margin-top: -7px
.burLine_1_romove
    margin-top: 0px
    transform: rotate(45deg)
.burLine_2
    margin: 0
.burLine_2_romove
    opacity: 0
.burLine_3
    margin-top: 7px
.burLine_3_romove
    margin-top: 0px
    transform: rotate(-45deg)

/*------------------------
 service
 ------------------------*/
.service 
    padding: 32px 55px
.serviceListItem
    flex-basis: 100%

/*------------------------
 classic
 ------------------------*/
.classic
    padding: 24px 12px
.classicFlex
    position: relative
.classicName
    left: 50%
    transform: translate(-50%, 0)
    color: white
    position: absolute
    display: flex
    align-items: center
    &:before
        background: white
.classicFlex:nth-child(3)
    margin: 10px 0
/*------------------------
 design
 ------------------------*/
.design
    padding: 24px 12px 350px
.designBuyFlex
    flex-wrap: wrap
.designBuyFlex_col_1:first-child
    margin-right: 0
    margin-bottom: 20px
.designBuyFlex_col_1
    padding: 150px 0
    flex-basis: 100%


.designFlex_row_mobile_1
    display: none
.designFlex_row_mobile_2 img  
    display: block


.designFlex_row_2_left
    flex-basis: 46.5%
.designFlex_row_2_right
    flex-basis: 52.5%
.designFlex_row_3_right
    flex-basis: 100%
.designFlex_row_btn
    margin-top: 5px
    align-items: center
.designFlex_row_4_left
    flex-basis: 18.5%
    margin-right: 5px
.designFlex_row_4_center
    flex-basis: 60%
.designFlex_row_4_right
    flex-basis: 20%
/*------------------------
 customer
 ------------------------*/
.customer
    padding: 24px 12px
.customerListCard
    flex-basis: 100%
/*------------------------
 contact
 ------------------------*/
.contact
    padding: 24px 12px
/*------------------------
 footer
 ------------------------*/
.footerNav
    display: none
.tel,
.mail
    font-size: 16px
    margin: 0px 0
.socialBtn
    transform: translate(0, 0)
    li
        flex-basis: 22%
        padding-left: 20px
.footerFlexCopy
    margin-top: auto
    flex-wrap: wrap
.copyLogo
    order: 2
.copyright
    order: 0
    flex-basis: 100%
.copyNav
    flex-basis: 90%
    display: block
    .copyItem
        padding-left: 0
